.Main{
  width:100%;
  position: relative;
  background: no-repeat;
  background-size:cover;
  background-image: url("health.jpg");
  justify-content: center;
  background-size:cover;

  align-items: center;
  overflow:visible;
  padding-bottom: 10px;


}
/* Css for registration page*/
.Register{  
  position: relative;
  background: no-repeat; 
 text-align: center;
  background-size:cover;
  overflow: visible;
font-family:Verdana, Geneva, Tahoma, sans-serif

}
.heading{
    padding-top: 10px;
    text-align: center;
    color:rgb(5, 5, 5);
    font-size: 25px;
}
.Patient{
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 border-radius: 10px;
 line-height: 40px;
   /* margin: 3px; */
   border-radius: 10px;
   background-color: #d5f1ebb4;
   text-align: center;
   padding-bottom: 10px;
}

.Patient input{
  padding-left: 5px;
}
.Patient form select{
  padding-left: 10px;
  padding-right: 10px;
  box-sizing:border-box;
}
h5{
  /* color: red; */
  font-size: 10px;
}
.Patient Button{
  /* position: absolute; */
  padding-left: 10px;
}
/* .Patient label::after{
  content: "*";
  color: red;

} */
.Doctor{
  line-height: 40px;
   /* margin: 3px; */
   /* padding-left: 5px; */
   padding-bottom: 10px;
   border-radius: 10px;
   background-color: #d5f1ebb4;
   text-align: center;
}
.b-container{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 37em;
}
/* Css for patientdashboard */
.patient_main{
  /* padding-top: 10px; */
  overflow: visible;
  padding-bottom: 10px;
  text-align: center;
  
}

.col-sm-3{
  background-color: rgb(225, 250, 250);
  padding-bottom: 5px;
  height: 700px;
  position: fixed;
  text-align: left;
  padding-top: 10px;
  color: aliceblue;
  /* margin-right: 10px; */
}

.navbar a:hover{
 color: gray;
}
.navbar{ 
  background-color:#0080FF;
  color: black;
  
  /* margin-bottom: 2rem; */

}
.nav-link{
  color: black;
}
.Details{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  line-height: 40px;
  padding-top: 10px;
  text-align: left;
  padding-left:20px;
  /* padding-right: 10px; */
   border-radius: 10px;
   /* background-color: #d5f1ebb4; */
}
 h2{
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ReportUpload{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 35px;
  padding-top: 30px;
  /* padding-left:20px; */
   border-radius: 10px;
   /* background-color: #d5f1ebb4; */
}
 input{
  height: 30px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width:450px;
  border-radius: 5px;
  border-color:wheat;
}
Button{
  height: 35px;
  /* width: 70px; */
}
.card{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  width: 520;

}
.upload{
  padding-top: 10px;
}
.upload input{
  width: 500px;
  padding-right: 10px;
  border-radius: 3px;
  height: 42px;
  margin-bottom: auto;
  border-color:wheat;
  background-color:rgb(241, 239, 233);
}
.upload input:hover{
  background-color: cadetblue;
}


.Report{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  line-height: 40px;
  padding-top: 10px;
  text-align: left;
  padding-left:20px;
  padding-right: 10px;
   border-radius: 10px;
   /* background-color: #d5f1ebb4; */
}
.Report h2{
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
  list-style:none;
}
