.Main{
  width:100%;
  position: relative;
  background: no-repeat;
  background-size:cover;
  background-image: url("health.jpg");
  justify-content: center;
  background-size:cover;

  align-items: center;
  overflow:visible;
  padding-bottom: 10px;


}
/* Css for registration page*/
.Register{  
  position: relative;
  background: no-repeat; 
 text-align: center;
  background-size:cover;
  overflow: visible;
font-family:Verdana, Geneva, Tahoma, sans-serif

}
.heading{
    padding-top: 10px;
    text-align: center;
    color:rgb(5, 5, 5);
    font-size: 25px;
}
.Patient{
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 border-radius: 10px;
 line-height: 40px;
   /* margin: 3px; */
   border-radius: 10px;
   background-color: #d5f1ebb4;
   text-align: center;
   padding-bottom: 10px;
}

.Patient input{
  padding-left: 5px;
}
.Patient form select{
  padding-left: 10px;
  padding-right: 10px;
  box-sizing:border-box;
}
h5{
  /* color: red; */
  font-size: 10px;
}
.Patient Button{
  /* position: absolute; */
  padding-left: 10px;
}
.Doctor{
  line-height: 40px;
   /* margin: 3px; */
   /* padding-left: 5px; */
   padding-bottom: 10px;
   border-radius: 10px;
   background-color: #d5f1ebb4;
   text-align: center;
}
.dcontainer{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 37em;
}
.patient_main{
  padding-top: 10px;
  overflow: visible;
  padding-bottom: 10px;
  text-align: center;

}
.logout{
  text-align: right;
  padding-right: 10px;
}
.logout ul a{
  background-color:honeydew;
  color:black;
  display:ruby-base-container;
  height:150px;
  border-radius: 5px;
  box-shadow: 5px ,10px,30px rgba(150,150,190,4);
}
.PatientDetails{
  margin-left: auto;
  margin-right: auto;
  width: 60ex;
  padding-top: 10px;
}
.Details{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  line-height: 40px;
  padding-top: 10px;
  text-align: left;
  padding-left:20px;
  padding-right: 10px;
   border-radius: 10px;
   background-color: #d5f1ebb4;
}
.Access{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  line-height: 40px;
  padding-top: 10px;
  padding-left:10px;
  padding-right: 10px;
   border-radius: 10px;
   background-color: #d5f1ebb4;
}
.Access h6{
  line-height: 15px;
}
.ReportUpload{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  line-height: 40px;
  padding-top: 10px;
  padding-left:50px;
   border-radius: 10px;
   background-color: #d5f1ebb4;
}

.b-container{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}
.Reportupload{
  line-height: 45px;
  margin: 3px;
  height: 200px;
  border-radius: 10px;
  background-color: #d5f1ebb4;
  text-align: center;
}
 input{
  height: 30px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width:450px;
  border-radius: 5px;
  border-color:wheat;
}
Button{
  height: 35px;
  width: 70px;
}
.upload input{
  width: 500px;
  padding-right: 10px;
  border-radius: 3px;
  height: 49px;
  margin-bottom: auto;
  border-color:wheat;
  background-color:rgb(241, 239, 233)
}
.upload input:hover{
  background-color: cadetblue;
}

.accessreport{
  line-height: 45px;
  margin: 3px;
  height: 200px;
  border-radius: 10px;
  background-color: #d5f1ebb4;
  text-align: center;
}
.nav-tabs .nav-link:hover{
  color:gray;
}
.Report{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  line-height: 40px;
  padding-top: 10px;
  text-align: left;
  padding-left:20px;
  padding-right: 10px;
   border-radius: 10px;
   /* background-color: #d5f1ebb4; */
}
.Report h2{
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}