.Main{
  width:100%;
  position: relative;
  background: no-repeat;
  background-size:cover;
  background-image: url("health.jpg");
  justify-content: center;
  background-size:cover;

  align-items: center;
  overflow:visible;
  padding-bottom: 10px;


}
/* Css for registration page*/
.Register{  

  position: relative;
  /* height: 700px; */
  background: no-repeat; 
 text-align: center;
  background-size:cover;
  overflow: visible;


}
.heading{
    padding-top: 10px;
    text-align: center;
    color:rgb(5, 5, 5);
    font-size: 25px;
}
.Patient{
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 border-radius: 10px;
 line-height: 40px;
   /* margin: 3px; */
   border-radius: 10px;
   background-color: #d5f1ebb4;
   text-align: center;
}

.Patient input{
  padding-left: 5px;
}
.Patient form select{
  padding-left: 10px;
  padding-right: 10px;
  box-sizing:border-box;
}
h5{
  color: red;
  font-size: 10px;
}
.Doctor{
  line-height: 40px;
   /* margin: 3px; */
   border-radius: 10px;
   background-color: #d5f1ebb4;
   text-align: center;
}
.container{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
}